:root {
  --font-hero: "Archivo Black", sans-serif;
  --font-info: "Quicksand", sans-serif;
  --color-hero: rgb(23, 23, 23);
}

a:hover {
  opacity: 60%;
}

body {
  background-color: rgb(249, 249, 249) !important;
  color: var(--color-hero);
}

h1 {
  font-family: var(--font-hero);
  letter-spacing: 5px;
  font-size: 50px !important;
}

.person-name span {
  font-family: var(--font-info);
  font-size: 20px;
  letter-spacing: 5px;
  color: rgb(154, 154, 154);
}

.navb {
  margin-top: 5rem;
}

.navb a {
  color: var(--color-hero);
  font-size: 17px;
}

.case {
  max-width: 500px;
  height: fit-content;
}

@media (max-width: 767px) {
  .container {
    text-align: center;
  }
}

.title-shootings {
  text-align: center;
  margin: 70px;
  font-family: var(--font-info);
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 4px;
}

i {
  margin-right: 20px;
  margin-left: 20px;
}
#contactMe {
  font-size: 30px;
  font-family: var(--font-hero);
  letter-spacing: 4px;
}

.footer a {
  color: var(--color-hero);
}
