:root {
  --font-hero: "Archivo Black", sans-serif;
  --font-info: "Quicksand", sans-serif;
  --color-hero: rgb(23, 23, 23);
  --color-branding: rgb(130, 130, 244);
}

a:hover {
  opacity: 60%;
}

body {
  background-color: rgb(249, 249, 249) !important;
  color: var(--color-hero);
}

h1 {
  font-family: var(--font-hero);
  letter-spacing: 5px;
  font-size: 50px !important;
}

.person-name span {
  font-family: var(--font-info);
  font-size: 20px;
  letter-spacing: 5px;
  color: rgb(154, 154, 154);
}

.navb {
  margin-top: 5rem;
}

.navb a {
  color: var(--color-hero);
  font-size: 17px;
  font-family: var(--font-info);
}

.case {
  max-width: 500px;
  height: fit-content;
}

.title-shootings {
  text-align: center;
  margin: 70px;
  font-family: var(--font-hero);
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 4px;
  opacity: 80%;
}

i {
  margin-right: 20px;
  margin-left: 20px;
  color: var(--color-branding);
}
#contactMe {
  font-size: 30px;
  font-family: var(--font-hero);
  letter-spacing: 4px;
}

.footer a {
  color: var(--color-hero);
}

.about-me-container {
  margin-top: 30px;
}

.btns a {
  font-size: 17px;
  padding: 10px 17px !important;
}

.btn-style {
  background-color: var(--color-branding) !important;
  color: white !important;
  margin-right: 20px;
}

.btn-style-second {
  border-color: var(--color-branding) !important;
  color: var(--color-branding) !important;
}

.description-style {
  font-family: var(--font-info);
  font-size: 17px;
  letter-spacing: 3px;
  color: rgb(113, 113, 113);
}

.backhome {
  font-size: 14px !important;
  font-family: var(--font-info);
}

.about-me-container span {
  font-size: 18px;
  /* font-family: var(--font-info); */
  /* font-weight: 500; */
}

.active {
  color: var(--color-branding) !important;
}

nav a:hover {
  color: var(--color-branding);
}

footer a {
  color: var(--color-branding);
}

footer a:hover {
  text-decoration: none;
  color: var(--color-branding);
  opacity: 50%;
}

.navbar-price {
  position: absolute;
  top: 0px;
}

.navbar-price li {
  color: rgb(255, 251, 244) !important;
}

@media (min-width: 767px) {
  .about-me-container {
    margin-top: 90px !important;
  }
  .header {
    margin-top: 60px;
  }
  .description-style {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .container {
    text-align: center;
  }
  .about-me-container {
    margin-top: 60px;
    text-align: center;
  }
  .btns {
    justify-content: center;
  }
  .d-md-none img {
    max-width: 80%;
    margin-bottom: 20px;
  }
  .description-style {
    margin-bottom: 2rem;
  }
  .about-me-container span {
    display: block;
    margin: 15px 0px;
  }
  .navb-responsive a {
    font-size: 15px;
  }
  .navb-responsive li {
    padding: 5px !important;
  }
}
